html{direction: rtl;}
body {
    background-image: url("chart-coin-blured.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}


h1 {
    color: navy;
    margin-left: 20px;
}


#top{
	color:white;
	background-color:#660066;
	padding:10px
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 12px 8px 16px;
    text-decoration: none;
    font-size: 150%;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

form {
    direction: rtl;
}


input {
    text-align: right;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background-color: MediumSpringGreen;
}

a {
    background-color: transparent;
    cursor: pointer;
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

*{
    text-align: right;
    direction: rtl;
}

#logo:hover{
    cursor: pointer;
}

/*#logo {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}*/

#logo {
    position:relative;
    height:100px;
    width:100px;
    max-width:100%;
    margin:0 auto;
}

img{
    position:absolute;
    max-width:100%;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;

}

#fanni-logo:hover {
  opacity:0;
}

.form-req{
    width: 50%;
}



table.content {
    border-collapse: collapse;
    width: 100%;
    direction: rtl;
}

th, td {
    text-align: right;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #A366A3;
    color: white;
}

#buy-table{
  float: left;
}
#sell-table{
  float: right;
}
